
#wrapper {
    height: 600px;
}

#header {
    overflow: hidden;
    width: 100%;
    height: 10%;
    background-color: Teal;
}

#menu {
    overflow: hidden;
    background-color: #333;
    width: 100%;
    height: 8%;
}

    #menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

        #menu ul li {
            float: left;
        }

            #menu ul li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                #menu ul li a:hover {
                    background-color: #111;
                }


#contentID {
    width: 100%;
    height: 77%;
}

#footer {
    clear: both;
    width: 100%;
    height: 5%;
    text-align: center;
    background-color: #333;
    color: white;
}


